services:
  api_gateway:
    build: ./http-api-gateway
    ports:
      - 3000:3000
    volumes:
      - ./http-api-gateway/src:/usr/src/app/src
    command: yarn start:dev
    environment:
      - PORT=3000

  users_microservice:
    build: ./users-microservice
    volumes:
      - ./users-microservice/src:/usr/src/app/src
    command: yarn start:dev

  products_microservice:
    build: ./products-microservice
    volumes:
      - ./products-microservice/src:/usr/src/app/src
    command: yarn start:dev

  payments_microservice:
    build: ./payments-microservice
    volumes:
      - ./payments-microservice/src:/usr/src/app/src
    command: yarn start:dev

  nats:
    image: nats:latest
    ports:
      - 4222:4222

  postgres_db:
    image: postgres:15
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: 123456
    ports:
      - 5432:5432
